body{
	font-family: Arial;
	font-weight: bold;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/*	Calendar	*/
.booking{
	padding:		10px;
	margin:			5px;
	text-align:		center;
	display:		inline-block;
	border:			2px solid lightgray;
	list-style-type:none;
	
}
.booking_timePanel{
	height:		350px;
	overflow-y:	scroll;
	overflow-x:	hidden;
	border:		1px solid lightgray;
	
}
.booking_timePanel::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #0098e5;
}
.booking_timePanel_selectedTime{
	color:			#bde6fa;
	font-weight:	bolder;
	border:			1px solid #0098e5;
	transition:		0.5s ease;
	background-color:#bde6fa;
}

@media (min-width: 350px) and (max-width: 1200px) {
  .mobile_calendar{
    font-size: 6vw;
  }
}

.calendar{
	border:	1px solid lightgray;
}
.calendar_tHead{
	text-transform: 	uppercase;
	text-align:			center;
	background-color:	#bde6fa;
	font-size:			3vh;
}

.calendar_cell{
	padding: 		1vw;
	text-align:		center;
}

.calendar_days{
	outline: 		1px solid #fff0;
	outline-offset:	-6px;
	transition:		0.5s ease;
}
.calendar_days:hover{
	outline: 		1px solid lightgray;
	outline-offset:	-2px;
	transition:		0.3s ease;
	cursor:			default;
}
.calendar_days:active{
	color:			lightgray;
}

.calendar_daysName{
	font-weight:	bolder;
}

.calendar_dayOff{
	color:	#f66;
}

.calendar_daysGoneBy{
	color:	lightgray;
}

.calendar_today{
	color:	#0098e5;
}

.calendar_selectedDay{
	outline: 			1px solid #0098e5;
	outline-offset:		-2px;
	background-color:	#8fd7fb;
}

.calendar_selectedAnotherDay{
	background-color:	rgb(222, 255, 250);
}

/*	Time	*/
.time>li{
	list-style-type:none;
}
.time>li>div{
	color:			gray;
	padding:		2px;
	margin:			3px;
	font-weight:	lighter;
	border:			1px solid gray;
	transition:		0.5s ease;
}
.time>li>div:hover{
	color:		black;
	border:		1px solid black;
	transition:	0.5s ease;
	cursor:		default;
}
.time>li>div:active{
	outline: 		1px solid lightgray;
	outline-offset:	-1px;
	transition:		0.5s ease;
}



















